<div class="edit-blog-container">
  <section class="edit-blog-header">
    <div class="edit-blog-title">Add New Blog</div>
  </section>
  <section class="edit-blog-body">
    <form>
      <input
        type="text"
        class="edit-blog-title"
        id="edit-blog-title"
        placeholder="Enter blog title here.."
      />
      <textarea
        type="text"
        class="edit-blog-content"
        id="edit-blog-content"
        placeholder="Enter blog content here.."
      ></textarea>
      <input type="submit" value="Add" />
    </form>
  </section>
</div>