<div class="blogs">
  <ul>
    {{#each blogs}}
      <a href="/edit-blog/{{id}}">
        <li>
          <div class="dashboard-blog">
            <div class="blog-title">{{this.blog_title}}</div>
            <div class="blog-date">{{format_date created_at}}</div>
          </div>
        </li>
      </a>
    {{/each}}
  </ul>
  <a href="/add-blog">
    <button class="add-btn">Add new post</button>
  </a>
</div>