<div class="blogs">
  <ul>
    {{#each blogs}}
      <li>
        <div class="blog-container">
          <section class="blog-header">
            <a href="/blog/{{id}}">
              <div class="blog-title">{{this.blog_title}}</div>
            </a>
            <div class="blog-info">Posted by
              {{user.username}}
              on 22/02/22</div>
          </section>
          <section class="blog-content">
            <p>
              {{this.blog_content}}
            </p>
          </section>
        </div>
      </li>
    {{/each}}
  </ul>
</div>