<div class="form-container">
  <section class="form-header">
    <div class="form-title">Login</div>
  </section>
  <section class="form-body">
    <form>
      <input
        type="text"
        class="form-username"
        id="form-username"
        placeholder="Enter username here.."
      />
      <input
        type="text"
        class="form-password"
        id="form-password"
        placeholder="Enter password here.."
      />
      <input type="submit" value="Login" />
      <br />
      <a href="#">Not got an account? Click here to sign up!</a>
    </form>
  </section>
</div>