<div class="form-container">
  <section class="form-header">
    <div class="form-title">Sign Up</div>
  </section>
  <section class="form-body">
    <form id="signup-form">
      <input
        type="text"
        class="form-username"
        id="username-signup"
        placeholder="Enter username here.."
      />
      <input
        type="text"
        class="form-password"
        id="password-signup"
        placeholder="Enter password here.."
      />
      <input id="signup-btn" type="submit" value="Sign Up" />
      <br />
      <a href="/login">Already got an account? Login here!</a>
    </form>
  </section>
</div>

<script src="/js/signup.js"></script>