@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  background-color: #001233;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5% 10%;
  color: #9ef01a;
}

nav > ul > li {
  list-style: none;
  display: inline-block;
  padding: 0 20px;
  font-family: "Open Sans";
  font-size: 1em;
}

.logo {
  font-family: "Press Start 2P";
  font-size: 2em;
}

.blog-container {
  border: 5px solid #9ef01a;
  margin: 0 10em 0 10em;
}

.blog-container > .blog-header {
  background-color: #9ef01a;
  color: #001233;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
}

.blog-container > .blog-header > .blog-title {
  font-size: 1.5em;
  font-family: "Open Sans";
}

.blog-container > .blog-header > .blog-info {
  font-family: "Open Sans";
}

.blog-content {
  font-family: "Open Sans";
  color: white;
  padding: 1em 2em;
}
